<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
	<title>PhotoBase</title>
</head>
<body>
	<h1>Edit Photo Entry</h1>

	<form method="POST", action="/photos/<%=photo._id%>?_method=PUT">

		<img src="<%=photo.url%>" alt="a photo" style="width: 400px; height: 400px"><br/>
		New URL: <input type="url" name="url" width=100 value="<%=photo.url%>"><br/>

		Username: <input type="text" name="username" width=25 value="<%=photo.username%>"><br/>

		Title: <input type="text" name="title" width=100 value="<%=photo.title%>"><br/>

		Description: <input type="text" name="description" width=150 height=10 value="<%=photo.description%>"><br/>

		<button>Submit Changes</button>

	</form>


</body>
</html>