<!DOCTYPE html>
<html>
<head>
	<title>PhotoBase</title>
</head>
<body>
	<h1>Edit Photo Entry</h1>

	<form method="POST", action="/photos/<%=photo._id%>?_method=PUT">

		<img src="<%=photo.url%>" alt="a photo" style="width: 400px; height: 400px"><br/>
		New URL: <input type="url" name="url" width=100 value="<%=photo.url%>"><br/>

		Username: <input type="text" name="username" width=25 value="<%=photo.username%>"><br/>

		Title: <input type="text" name="title" width=100 value="<%=photo.title%>"><br/>

		Description: <input type="text" name="description" width=150 height=10 value="<%=photo.description%>"><br/>

		<button>Submit Changes</button>

	</form>


</body>
</html>