<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
	<title>PhotoBase</title>
</head>
<body>
	<h1>Photo Details</h1>

	<section id="gallery">
       <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-6">
                    <div class="card">
                        <img class="card-img-top" src="<%=photo.url%>" alt="a photo">
                        <div class="card-body">
                            <h5 class="card-title"><%=photo.title%></h5>
                            <p class="card-text">by <%=photo.username%></p>
                            <p class="card-text"><%=photo.description%></p>
                            <p><form method="POST" action="/photos/<%=photo._id%>?_method=DELETE">
                    			   <a href="/photos/<%=photo._id%>" class="btn btn-outline-success btn-sm">Delete Photo</a>
                    			</form></p>
                    			 <p><a href="/photos/<%=photo._id%>" class="btn btn-outline-success btn-sm">Edit Photo</a></p>
                    			 
                    			 	<a href="/photos/<%=photo._id%>" class="btn btn-outline-success btn-sm">Return to Photos List</a>
                 			 	  </form></p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>

	
	<form method="POST" action="/photos/<%=photo._id%>?_method=DELETE">
		<input type="submit" name="" value="Delete Photo">
	</form>
	<br/>
	<form action="/photos/<%=photo._id%>/edit">
		<input type="submit" name="" value="Edit Photo">
	</form>
	<br/>
	<form action="/photos">
		<input type="submit" name="" value="Return to Photos List">
	</form>

</body>
</html>