<!DOCTYPE html>
<html>
<head>
	<title>PhotoBase</title>
</head>
<body>
	<h1>Photo Details</h1>

	<img src="<%=photo.url%>" alt="a photo" style="width: 400px; height: 400px"><br/>

	Name: <%=photo.username%><br/>

	Title: <%=photo.title%><br/>

	Description: <%=photo.description%><br/>

	<form method="POST" action="/photos/<%=photo._id%>?_method=DELETE">
		<input type="submit" name="" value="Delete Photo">
	</form>
	<br/>
	<form action="/photos/<%=photo._id%>/edit">
		<input type="submit" name="" value="Edit Photo">
	</form>
	<br/>
	<form action="/photos">
		<input type="submit" name="" value="Return to Photos List">
	</form>

</body>
</html>