<!DOCTYPE html>
<html>
<%- include("../header") -%>
<body>

   <section id="gallery">
      <div class="container">
         <div>
            <a href="/freephotos" class="btn btn-outline-secondary btn-sm">All Photos</a>
            &nbsp;
            &nbsp;

            <h1 class=main-header>Photo Details</h1>

            <% if (loggedIn) {%>
               &nbsp;
               &nbsp;
               <a href="/users/<%=userId%>" class="btn btn-outline-secondary btn-sm">My Photos</a>
               &nbsp;
               &nbsp;
               <a href="/auth/logout" class="btn btn-outline-secondary btn-sm">Log Out</a>
            <% } %>

         </div>
         <div class="row">
            <div class="col-lg-6 mb-6">
               <div class="card">
                  <img class="card-img-top" src="<%=photo.url%>" alt="a photo">
                  <div class="card-body">
                     <h5 class="card-title"><%=photo.title%></h5>
                     <p class="card-text">by <a class="user-link-from-photo" href="/users/<%=photo.user._id%>" ><%=photo.user.name%></a></p>
                     <p class="card-text"><%=photo.description%></p>
                        
                        <!-- <div class=buttons>
                           <%if (loggedIn && (userId == photo.user._id)) {%>

                              <a href="/photos/<%=photo._id%>/edit" class="btn btn-outline-secondary btn-sm">Edit</a>
                           	
                              <form class=submit-button>
                           	  <button class="btn btn-outline-secondary btn-sm" formaction="/photos/<%=photo._id%>?_method=DELETE" formmethod="POST" type="submit">Delete</button>
                              </form>
                           <%}%>                                                  	
                        </div> -->

                  </div>
               </div>
            </div>
         </div>
      </div>
    </section>

</body>
</html>