<!DOCTYPE html>
<html>
<%- include("../header") -%>
<body>

   <section id="gallery">
      <div class="container">
         <div>
            <a href="/photos/new" class="btn btn-outline-secondary btn-sm">Add a Photo</a>
            &nbsp;
            <button class="btn btn-outline-secondary btn-sm" formaction="/users/<%=user._id%>?_method=DELETE" formmethod="POST" type="submit">Delete Your Account</button>
            &nbsp;
            <h1 class=main-header>Photos by <%=user.user%></h1>
         </div>
         <div class="row">
               <% for(let i = 0; i < photos.length; i++) { %>
                  <div class="col-lg-4 mb-4">
                     <div class="card">
                           <img class="card-img-top" src="<%=photos[i].url%>" alt="a photo">
                           <div class="card-body">
                              <h5 class="card-title"><%=photos[i].title%></h5>
                              <p class="card-text"><%=photos[i].description%></p>
                           <div class=small-buttons-cluster>
                           	<form class=submit-button>
                           	  <button class="btn btn-outline-secondary btn-sm" formaction="/photos/<%=photos[i]._id%>?_method=DELETE" formmethod="POST" type="submit">Delete</button>
                              </form>

                              <a href="/photos/<%=photos[i]._id%>/edit" class="btn btn-outline-secondary btn-sm">Edit</a>
                            
                            	<a href="/users" class="btn btn-outline-secondary btn-sm">All Users</a>
                        	
                           </div>
                     </div>
                  </div>
               </div>
            <%}%>
         </div>
      </div>
    </section>

</body>
</html>